<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{|/style.css|}">
    <link th:href="@{|https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css|}" rel="stylesheet"
          type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/bccde956fc.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Onion Talk!</title>
</head>

<body>
<!-- 네비게이션바 -->
<!--<nav th:replace="~{navbar :: navbarFragment}"></nav>-->
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<script th:src="@{|https://cdn.tailwindcss.com|}"></script>
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->

</body>

<script th:inline="javascript">

    // 쿠키에서 로그인 정보 가져오기
 function getLoggedInUser() {

    const aa = /*[[${#authentication}]]*/ null;

    if(aa.name === "anonymousUser") {
        return null;
    }

    return aa.name;

 }

 // 현재 로그인된 사용자 확인 및 웹소켓 연결
 function connectIfLoggedIn() {
     var loggedInUser = getLoggedInUser();
     if (loggedInUser != null) {
         console.log('로그인된 아이디는' + loggedInUser);

         connectWebSocket(loggedInUser);
     } else {
         console.log('로그인되지 않은 상태입니다.');
     }
 }

 // 웹소켓 연결
 function connectWebSocket(loggedInUser) {
     var socket = new SockJS("http://localhost:8088/ws-stomp");
     var stompClient = Stomp.over(socket);
     stompClient.connect({}, function (frame) {
         console.log('웹소켓 연결 성공:', frame);
         var user = getLoggedInUser();
         // 연결 후 추가 작업 수행
         stompClient.subscribe('/sub/alarm/' + user , function (alarmDto) {
            showAlarm(JSON.parse(alarmDto.body));
         });
     }, function (error) {
         console.error('웹소켓 연결 실패:', error);
     });
 }


     function showAlarm(alarmDto) {
                $("#alarm").append(
                  "<li>" +
        "<a href='/user/alarmCheck/" + alarmDto.chatRoomId + "'>" +
        alarmDto.sendUsername + "님의 메세지 : " + alarmDto.message +
        "</a>" +
    "</li>"
                );
                $("#toast").append(
                toastr.info(alarmDto.sendUsername + '님의 메세지 : ' + alarmDto.message)
                );

        }

 // 페이지 로드 후 실행되는 부분
 document.addEventListener('DOMContentLoaded', function() {
 // 페이지 로드 시 로그인 여부를 확인하고 웹소켓에 연결
     connectIfLoggedIn();
 });

</script>
</html>